body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.dropZone {
    width: 300px;
    height: 100px;
    background-color: gray;
  margin-left: auto ;
  margin-right: auto ;
}

.uploader {
    width: 300px;
    height: 0px;
    margin-left: auto ;
    margin-right: auto ;
    opacity: 0;
}

.upload-button {
    width: 300px;
}

.maincolor {
    width: 300px;
    height: 30px;
  margin-left: auto ;
  margin-right: auto ;
}
.paletteresult {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin: 5px;
}

.paletteresult.active {
    width: 26px;
    height: 26px;
    margin: 2px;
}
.paletteresult:hover {
    width: 26px;
    height: 26px;
    margin: 2px;
}

#palette {
    margin-bottom: 20px;
}
#results a img{
    width: 200px;
}
