<html>
    <head>
        <meta charset="utf-8">
        <title>Palathon</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" title="no title" charset="utf-8">

    </head>
<body>

    <div class="container">

      <div class="starter-template">
        <div class="lead">
            <form id="uploader" action="?" method="POST" enctype="multipart/form-data">
                <p><input class="uploader" name="image" type="file" accept="image/*"></p>
            </form>
        </div>
        <div class="lead dropZone" id="dropZone" >
            {% if uploaded %}
            <img id="uploaded" alt="Uploaded image" height="100" src="data:image/png;base64,{{ uploaded|safe }}" />
            {% endif %}
        </div>
        <div id="palette"></div>
        <div id="results"></div>
      </div>

    </div><!-- /.container -->

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="/static/script.js" > </script>
    <script type="text/javascript" charset="utf-8" src="/static/color-thief.js" > </script>
</body>
</html>
